@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'projects';
@import 'contact';
@import 'responsive';

body{
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3{
  font-weight: 400;
}

a{
  color: set-text-color($primary-color);
  text-decoration: none;
}

.text-secondary{
  color: $secondary-color;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;

  .toggle-language{
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    z-index: 1;
    
    &_icon{
      font-size: 1rem;
      margin-right: 0.5rem;
      color: $secondary-color;
      padding: 0.4rem;
      cursor: pointer;
      @include transition-ease;
      
      &:hover{
        background-color: $secondary-color;
        color: set-text-color($primary-color);
        border: solid 2px set-text-color($primary-color);
        border-right: none;
        border-radius: 4px 0 0 4px;
      }
    }

    &_lang{
      font-size: 0.9rem;
      color: set-text-color($primary-color);
      margin-left: 0.3rem;
    }
  }
}

main{
  height: 100%;
  width: 100%;

  .social-icons{
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    a{
      padding: 0.4rem;
      @include transition-ease;

      &:hover{
        color: $secondary-color;
      }
    }
  }
}

footer{
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  padding: 1rem;
  text-align: right;
  color: set-text-color($primary-color);
}